Node-Red/readMultipleModbusRegister.json
[
    {
        "id": "8e8eee3f64e9e420",
        "type": "modbustcp-read",
        "z": "1b5dfe57414b5db4",
        "name": "",
        "topic": "",
        "dataType": "HoldingRegister",
        "adr": "150",
        "quantity": "6",
        "rate": "1",
        "rateUnit": "s",
        "server": "7e0ace841a2b4525",
        "ieeeType": "off",
        "ieeeBE": "true",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "3ebd441e844ab74f",
                "82539d288046fe4c",
                "a2ea0327a1b79b83",
                "f000b2776dd06511"
            ]
        ]
    },
    {
        "id": "bb60cb1665c96e59",
        "type": "change",
        "z": "1b5dfe57414b5db4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Variable1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3ebd441e844ab74f",
        "type": "function",
        "z": "1b5dfe57414b5db4",
        "name": "function 27",
        "func": "// Convert each decimal value to 2-digit uppercase hex\nlet hex0 = Number(msg.payload[0]).toString(16).toUpperCase().padStart(4, '0');\nlet hex1 = Number(msg.payload[1]).toString(16).toUpperCase().padStart(4, '0');\n// Combine them into one string\nmsg.payload = hex0 + hex1;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "70dbfac26588611a"
            ]
        ]
    },
    {
        "id": "70dbfac26588611a",
        "type": "tofloat",
        "z": "1b5dfe57414b5db4",
        "name": "",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "bb60cb1665c96e59"
            ]
        ]
    },
    {
        "id": "79103ee196d7e83a",
        "type": "change",
        "z": "1b5dfe57414b5db4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Variable2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "82539d288046fe4c",
        "type": "function",
        "z": "1b5dfe57414b5db4",
        "name": "function 28",
        "func": "// Convert each decimal value to 2-digit uppercase hex\nlet hex0 = Number(msg.payload[2]).toString(16).toUpperCase().padStart(4, '0');\nlet hex1 = Number(msg.payload[3]).toString(16).toUpperCase().padStart(4, '0');\n// Combine them into one string\nmsg.payload = hex0 + hex1;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "89b8c296eb84b0d7"
            ]
        ]
    },
    {
        "id": "89b8c296eb84b0d7",
        "type": "tofloat",
        "z": "1b5dfe57414b5db4",
        "name": "",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "79103ee196d7e83a"
            ]
        ]
    },
    {
        "id": "48e8ac402ea02f4b",
        "type": "change",
        "z": "1b5dfe57414b5db4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Variable3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a2ea0327a1b79b83",
        "type": "function",
        "z": "1b5dfe57414b5db4",
        "name": "function 29",
        "func": "// Convert each decimal value to 2-digit uppercase hex\nlet hex0 = Number(msg.payload[4]).toString(16).toUpperCase().padStart(4, '0');\nlet hex1 = Number(msg.payload[5]).toString(16).toUpperCase().padStart(4, '0');\n// Combine them into one string\nmsg.payload = hex0 + hex1;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "b0340be0ca5f6f35"
            ]
        ]
    },
    {
        "id": "b0340be0ca5f6f35",
        "type": "tofloat",
        "z": "1b5dfe57414b5db4",
        "name": "",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "48e8ac402ea02f4b"
            ]
        ]
    },
    {
        "id": "f000b2776dd06511",
        "type": "debug",
        "z": "1b5dfe57414b5db4",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 480,
        "wires": []
    },
    {
        "id": "7e0ace841a2b4525",
        "type": "modbustcp-server",
        "name": "G12",
        "host": "172.16.0.112",
        "port": 502,
        "unit_id": 1,
        "reconnecttimeout": ""
    },
    {
        "id": "2b0d279b6ec00856",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbustcp": "1.2.3",
            "node-red-contrib-tofloat": "1.0.0"
        }
    }
]